/* #B6862C yellow */
/* #081E3F blue */

body,
html {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Welcome Styling */
.welcome-page {
    display: flex;
    background: white;
    align-items: center;
}

.welcome-heading {
    display: flex;
    text-align: center;
    justify-content: center;
    background: #081E3F;
}

.button {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
}

.bio {
    color: black;
}

.peach,
.banana {
    height: 400px;
    justify-content: left;
    gap: 30px;
}

/* LoginHub Styling */
.hub-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    height: auto;
}

.hub-heading {
    display: flex;
    background-color: #081E3F;
    text-align: center;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    font-style: normal;
    height: 400px;
}

.login-options {
    display: flex;
    background: white;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.golden-button {
    background: #B6862C;
    color: white;
    width: 240px;
    justify-content: center;
    font-size: medium;
}

.grey-button {
    background-color: grey;
    color: white;
    width: 240px;
    font-size: medium;

}

/* Login Styling */
.login-container {
    background-color: white;
    width: auto;
}

.login-heading {
    display: flex;
    text-align: left;
    color: white;
    height: 5em;
    justify-self: auto;
    background-color: #081E3F;
    font-size: x-large;
    margin-top: 0;
}

.data-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
}

.submit-login {
    display: flex;
    color: white;
    background-color: #B6862C;
    width: fit-content;
    align-self: center;
}