/* #B6862C yellow */
/* #081E3F blue */

body,
html {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Welcome Styling */
.welcome-page {
    display: flex;
    background: white;
    align-items: center;
    height: vh;
    font-style: italic;
}

.welcome-page-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-page-left{
    display: flex;
    flex-direction: column;
}

.welcome-heading {
    display: flex;
    text-align: center;
    justify-content: center;
    background: #081E3F;
    color: white;
    font-size: xx-large;
}

.welcome-button {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    margin-top: 100px;
}

.welcome-button>button {
    margin-bottom: 24px;
}

.bio {
    color: black;
    font-size: x-large;
}

.student1,
.student2 {
    height: 400px;
    justify-content: left;
    gap: 30px;
    border-radius: 100%;
    width: 60%;
    margin-top: 25px;
}

.golden-button {
    background: #B6862C;
    color: white;
    width: 240px;
    justify-content: center;
    font-size: medium;
    border-radius: 24px;
    border: #B6862C;
    height: 40px;
}

.grey-button {
    background-color: grey;
    color: white;
    width: 240px;
    font-size: medium;
    border-radius: 24px;
    border: #B6862C;
    height: 40px;
}


/* LoginHub Styling */
.hub-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: vw;
    height: 1000px;
}

.hub-heading {
    display: flex;
    background-color: #081E3F;
    color: white;
    text-align: center;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    font-style: normal;
    height: 400px;
}

.login-options > .golden-button, .login-options > .grey-button{
    width: 30%;
    height: 50px;
}

.login-options {
    display: flex;
    background: white;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

/* Login Styling */
.login-container {
    background-color: white;
    width: auto;
}

.login-heading {
    display: flex;
    text-align: left;
    color: white;
    height: 3em;
    justify-items: center;
    align-items: center;
    background-color: #081E3F;
    font-size: 72px;
    margin-top: 0;
    padding: 0;
}

.data-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

.submit-login {
    background: #B6862C;
    color: white;
    width: 150px;
    justify-content: center;
    font-size: medium;
    border-radius: 24px;
    border: #B6862C;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Dashboard Styling */
.homepage {
    display: flex;
    flex-direction: row;
    width: vw;
    height: vh;
}

.homepage-left{
    height: vh;
    width: vw;
    margin-left: 25px;
    font-size: 48px;
}

.homepage-right{
    height: vh;
    width: vw;
}

.card-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.goals-and-rec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: grey;
    border-radius: 8px;
    gap: 10px;
    margin-left: 50px;
    margin-top: 15vh;
    height: 400px;
    width: 20vw;
}

.goals-and-rec > button{
    margin-top: 25px;
    width: auto;
    font-size: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 25px;
    margin: 25px;
    width: clamp(155px, vw, 250px);
    height: clamp(135px, vh, 320px);
    justify-content: center;
}

.class-heading {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    color: black;
    font-size: 48px;
}

.class-grade {
    color: white;
    font-size: 35px;
    justify-self: center;
}

/* Input Credit Hours stlyling*/
#credit-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:60%;
    margin-top: 40px;
    font-size: 25px;
}

.classname-input{
    margin-left: 50px;
    margin-top: 50px;
}

.input-box{
    margin-left: 10px;
    border-radius: 8px;
}

.form-button{
    margin-right: 50px;
    margin-top: 20px;
}

/* Input Credit Styling */
#grade-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:60%;
    margin-top: 40px;
    font-size: 25px;
}

/* Recommend Classes Styling*/
.recommend-classes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:60%;  
    margin-top: 40px;
    font-size: 25px;
}

.class-n-grade{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.class-n-grade > .class-grade{
    color: black;
    margin-left: 30px;
}

.recommendation{
    margin: 20px; 
}

/* Manage Classes Styling */
#class-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width:60%;
    margin-top: 40px;
    font-size: 25px;
}

.manage-class-title{
    display: flex;
    justify-content: center;
}

.manage-class{
    display: flex;
    margin-right: 60px;
}

.delete-class{
    margin-left: 20px;
}

.delete-button{
    background-color: transparent;
    border: none;
}

.manage-class-button{
    display: flex;
    justify-content: center;
    margin: 20px;
}

/* Sign UP Styling */
.sign-up-head{
    background-color: #081E3F;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 40px;
}

.sign-up-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-end;
    font-size: 36px;
}

#name, #password, #email, #semester-select{
    margin:20px;
}

/* Add Classes */
.class-select{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.class-select-button{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.class-name-input{
    margin: 30px;
}

#passcode-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    font-size: 36px;
}

#passcode-form > input{
    width: 250px;
    height: auto;
    margin: 50px;
    padding: 20px;
    font-size: 24px;
}

#passcode-form > button{
    margin: 30px;
}